{
  "class": "AS3",
  {# for $schema see: https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/userguide/validate.html #}
  "$schema": "https://raw.githubusercontent.com/F5Networks/f5-appsvcs-extension/master/schema/latest/as3-schema.json",
  "declaration": {
    "class": "ADC",
    "schemaVersion": "{{ ninja.declaration.schemaVersion }}",
    "label": "{{ ninja.declaration.label }}",
    "remark": "{{ ninja.declaration.remark }}",
    {# generate a random uuid4 for every transformation #}
    "id": "urn:uuid:{{ uuid() }}",
    "Administration": {
      "class": "Tenant",
      {# loop through list of apps #}
      {% for app in ninja.apps %}
      "{{ app.name }}": {
        "class": "Application",
        "template": "generic",
        {# if the app has tls configuration settings:
         # 1. define certificate+privatekey class=Certificate
         # 2. define ServerTLS (client-ssl) profile
         #}
        {% if app.tls is defined %}
        "ckc_{{ app.name }}": {
          "class": "Certificate",
          "certificate": {{ (app.tls.certificate | vault)['data']['data']['certificate'] | jsonify }},
          "privateKey": {{ (app.tls.privateKey | vault)['data']['data']['privateKey'] | jsonify }}
        },
        "servertls_{{ app.name }}": {
          "class": "TLS_Server",
          {# app.tls.ciphers is optional, if not set we use DEFAULT #}
          "ciphers": "{{ app.tls.ciphers | default('DEFAULT') }}",
          "certificates": [ {"certificate": "ckc_{{ app.name }}"} ]
        },
        {# end: app.tls #}
        {% endif %}
        "backends": {
          "class": "Pool",
            "monitors":
            {# check if custom monitors are configured
             # or default should be used
             #}
            {% if app.monitors is defined %}
                {{ app.monitors | jsonify }},
            {% else %}
                {{ ninja.mappings.monitor[app.type] | jsonify }},
            {% endif %}
            {# end monitors #}
            {# Pool members: "members"
             # https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/refguide/schema-reference.html#pool-member
             # this is a simplified approach to define an array of Pool_Members,
             # however this introduces some redundancy and forces a specific format
             # in the Template Configuration
             #}
            "members": {{ ninja.backends[app.name] | jsonify }}
        },
        "vs_{{ app.name }}": {
          {# service class is set via mappings from config based on type of app #}
          "class": "{{ ninja.mappings.service[app.type] }}",
          "virtualAddresses": {{ ninja.ipam[app.name] | jsonify }},
          {# if app has tls configuration apply previous definitions #}
          {% if app.tls is defined %}
          "serverTLS": "servertls_{{ app.name }}",
          {# check if app tls briding is enabled,
           # that means whether the backend expects a TLS connection as well
           #}
          {% if app.tls.bridging is defined and app.tls.bridging == true %}
          "clientTLS": {"bigip": "/Common/serverssl"},
          {# end: tls bridging #}
          {% endif %}
          {# end: app.tls #}
          {% endif %}
          {% if app.port is defined %}
          {# custom listener port, not all service types come with a default #}
          "virtualPort": {{ app.port }},
          {% endif %}
          "pool": "backends"
        }
      }
    {% if not loop.last %},{% endif %}
    {#                    ^--- Important!
     # For every but the last loop we need to include a comma
     # to seperate the JSON objects in the declaration. Otherwise
     # the JSON will be invalid.
     #}
    {% endfor %}
    }
  }
}
